body * {
    color: black;
    font-family: monospace
}

.LR {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.title * {
    margin: 10px;
    height: 20px;
}

input {
    width: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: 35px;
    /* 上下按鈕的高度 */
    width: 25px;
    /* 上下按鈕的寬度 */
}

table {
    margin-bottom: 15px;
    margin-top: 10px;
}
button{
    color: #000;
}

/* 当鼠标悬停在按钮上时改变背景颜色 */
button:hover {
    background-color: #000;
    color: #fff;
    /* 设置文字颜色为白色 */
}
.item {
    /* flex: 1; */
    width: 40px;
    min-width: 40px; /* 容器的最小宽度 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    border: 1px solid #000; /* 可选的边框样式 */
}

.div2{
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: auto; /* 溢出时显示滚动条 */
    display: inline-block
}
.D{
    margin-left: 10px;
    margin-right: 10px;
}